<section id="hero" class="tbg1">
    <div id="layerslider-container-fw">
        <div id="layerslider" style="width: 100%; height: 436px; margin: 0px auto; ">

            <div class="ls-layer" style="slidedirection: top; slidedelay: 6000; durationin: 1500; durationout: 1500; delayout: 500;">

                <img src="/images/slide-pics/slide1-bg.jpg" class="ls-bg" alt="">

                <img src="/images/slide-pics/slide1-pic1.png" class="ls-s6" alt="" style="top: 134px; left: 30px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;">

                <img src="/images/slide-pics/slide1-pic2.png" class="ls-s6" alt="" style="top: 36px; left: 190px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1000;">

                <h1 class="ls-s3" style="position: absolute; top:100px; left: 700px; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">ultra<br>
                    Responsive</h1>

                <h4 class="ls-s3 l1-s1" style="position: absolute; top:230px; left: 700px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">Focus on the Mobile Devices</h4>


                <a class="button red ls-s8" href="#" style="position: absolute; top:320px; left: 700px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1100;">Purchase Now</a>

            </div>

            <div class="ls-layer" style="slidedirection: right; slidedelay: 5000; durationin: 1500; durationout: 1500;">

                <img src="/images/slide-pics/slide2-bg.jpg" class="ls-bg" alt="">

                <h1 class="ls-s3" style="position: absolute; font-family:Arial; top:114px; left: 30px; slidedirection : right; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;">clean Design</h1>

                <h4 class="ls-s3 l1-s1" style="position: absolute; top:189px; left: 30px; border-color:#fff; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 500;">Minimal, spacious and easy to read</h4>


                <a class="button green ls-s8" href="#" style="position: absolute; top:276px; left: 30px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;">Purchase Now</a>

            </div>


            <div class="ls-layer" style="slidedirection: right; slideoutdirection : top; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;">

                <img src="/images/slide-pics/slide3-bg.jpg" class="ls-bg" alt="">

                <img src="/images/slide-pics/slide3-pic1.png" class="ls-s6" alt="" style="top: 28px; left: 20px;  slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 500;">

                <h1 class="ls-s3" style="position: absolute; top:120px; left: 700px; color:#fff; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 600;">EASY TO USE</h1>

                <h4 class="ls-s3 l1-s1" style="position: absolute; top:196px; left: 700px; color:#fff; border-color:#fff; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 700;">Every element is cohesive and intentional</h4>

                <a class="button skyblue ls-s8" href="#" style="position: absolute; top:284px; left: 700px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 800;">Purchase Now</a>


            </div>

            <div class="ls-layer" style="slidedirection: top; slideoutdirection : top; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;">

                <img src="/images/slide-pics/slide4-bg.jpg" class="ls-bg" alt="">

                <img src="/images/slide-pics/slide4-pic1.png" class="ls-s6" alt="" style="top: 28px; left: 640px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 300;">

                <h1 class="ls-s3" style="position: absolute; top:120px; left: 30px;  slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 500;">RETINA READY</h1>

                <h4 class="ls-s3 l1-s1" style="position: absolute; top:198px; left: 30px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 600;">Looks beautiful on smarthpones and tablets</h4>

                <a class="button skyblue ls-s8" href="#" style="position: absolute; top:286px; left: 30px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 700;">Purchase Now</a>


            </div>


        </div>
    </div>
</section>
<!-- end-hero-->
<section class="container home-content" >
    <hr class="vertical-space3">
    <!-- Start Page Content -->
    <div class="row">
        <div class="seven columns"> <img src="/images/something-for-someone-s.jpg" alt="f">
            <hr class="vertical-space1">
        </div>
        <div class="nine columns">
            <hr class="vertical-space1">
            <div class="eight columns">
                <h3><strong>We will show you the way to Success!</strong></h3>
                <h5 class="magic"> Give us a chance and we will
                    prove our efficiency! We will show you the way to Success!</h5>
            </div>
            <hr class="vertical-space2">
            <div class="row column omega">
                <!-- Start Icon Boxes -->
                <div class="one_half">
                    <article class="icon-box3"> <i class="icomoon-cube4"></i><br>
                        <h5><strong>Web Hosting</strong></h5>
                        <p>Innovative design always develops in tandem with innovative technology, and can never be an end in itself. Lorem ipsum dolor</p>
                    </article>
                </div>
                <div class="one_half column-last">
                    <article class="icon-box3"> <i class="icomoon-screen-3"></i><br>
                        <h5><strong>Web Design</strong></h5>
                        <p>Innovative design always develops in tandem with innovative technology, and can never be an end in itself. Lorem ipsum dolor</p>
                    </article>
                </div>
            </div>
            <br class="clear">
            <div class="row column omega">
                <div class="one_half">
                    <article class="icon-box3"> <i class="icomoon-earth"></i><br>
                        <h5><strong>Server Management</strong></h5>
                        <p>Innovative design always develops in tandem with innovative technology, and can never be an end in itself. Lorem ipsum dolor</p>
                    </article>
                </div>
                <div class="one_half column-last">
                    <div class="icon-box3"> <i class="icomoon-dashboard"></i><br>
                        <h5><strong>Server Speedup</strong></h5>
                        <p>Innovative design always develops in tandem with innovative technology, and can never be an end in itself. Lorem ipsum dolor</p>
                    </div>
                </div>
            </div>
            <!-- /end- Icon Boxes -->
            <hr class="vertical-space1">
        </div>
    </div>
</section>
<section class="blox dark">
    <div class="container">
        <div class="sixteen columns">
            <div class="one_half">
                <div class="vertical-space4"></div>
                <h2>Retina Ready & Ultra Responsive</h2>
                <h5><strong>Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. </strong></h5>
                <br>
                <a class="button green large">Purchase Template</a> </div>
            <div class="one_half column-last"><img src="/images/retina-ready-pic1.png" alt=""></div>
        </div>
    </div>
</section>
<section class="container">
    <div class="vertical-space4"></div>
    <div class="sixteen columns aligncenter">
        <h1>Mexin Beautiful, simple and easy to use </h1>
        <h4>Mexin is an all-in-one solution for business websites that is super sleek finding harmony between simplicity and striking design elements. It is fully Responsive and Retina Ready.</h4>
        <br>
        <a class="button red large">Purchase Template</a> </div>
    <hr class="vertical-space1">
    <!-- Latest-from-Blog-start -->
    <!--<div class="latest-f-blog">
        <h4 class="subtitle">Latest from Blog</h4>
        <article class="one-third column alpha blog-post"> <a href="#" ><img src="/images/blog-post-pic1.jpg" alt=""></a>
            <h5><a href="#" >Job Seeking Out of Your Industry</a></h5>
            <p>10 MAY 2013 </p>
        </article>
        <article class="one-third column blog-post"> <a href="#" ><img src="/images/blog-post-pic3.jpg" alt=""></a>
            <h5><a href="#" >Magnifying Uses of Small Spaces</a></h5>
            <p>10 MAY 2013 </p>
        </article>
        <article class="one-third column omega blog-post"> <a href="#" ><img src="/images/blog-post-pic2.jpg" alt=""></a>
            <h5><a href="#" >What Your College Degree Will Be Worth </a></h5>
            <p>10 MAY 2013 </p>
        </article>
        <hr class="vertical-space1">
    </div>-->
    <!-- Latest-from-Blog-end -->
    <div class="qot-week">
        <div class="qot-pic"></div>
        <h6 class="qot-title">Quote of the week</h6>
        <blockquote>
            <h3>Care and accuracy in the design process show respect towards the consumer.</h3>
            <cite title="">John Smith <small> - Manager at Mexin</small></cite></blockquote>
    </div>
    <hr class="vertical-space2">
</section>
<!-- end- -->
<section class="blox dark nopad section-bg2">
    <div class="container aligncenter">
        <hr class="vertical-space2">
        <h5>Here are several ways to contact us</h5>
        <h1 class="mex-title">In case you need help</h1>
        <hr class="vertical-space1">
        <div class="sixteen columns">
            <div class="one_third">
                <div class="icon-box6"> <i class="icomoon-clock-6"></i>
                    <h4>Support Time</h4>
                    <p>Innovative design always develops in tandem with innovative technology, and can never be an end in itself. Lorem ipsum dolor</p>
                    <a href="#" class="magicmore">Learn more</a> </div>
            </div>
            <div class="one_third">
                <div class="icon-box6"> <i class="icomoon-phone-2"></i>
                    <h4>Support Phone</h4>
                    <p>Innovative design always develops in tandem with innovative technology, and can never be an end in itself. Lorem ipsum dolor</p>
                    <a href="#" class="magicmore">Learn more</a> </div>
            </div>
            <div class="one_third column-last">
                <div class="icon-box6"> <i class="icomoon-envelop-opened"></i>
                    <h4>Support Mail</h4>
                    <p>Innovative design always develops in tandem with innovative technology, and can never be an end in itself. Lorem ipsum dolor</p>
                    <a href="#" class="magicmore">Learn more</a> </div>
            </div>
        </div>
    </div>
</section>