<footer id="footer">
    <section class="container footer-in">
        <div class="one-third column contact-inf">
            <h4 class="subtitle">Contact Information</h4>
            <br />
            <!--<p><strong>Address:</strong> No.28 - 63739 street lorem ipsum City, Country</p>-->
            <p><strong>Phone:</strong> <a href="javascript:;">1300 123 123</a></p>
            <p><strong>Email:</strong> <a href="mailto:hello@silverstack.com">hello@silverstack.com</a></p>
            <p><strong>Login:</strong> <a href="http://my.silverstack.com">my.silverstack.com</a></p>
            <h4 class="subtitle">Stay Connected</h4>
            <div class="socailfollow">
                <a href="http://www.facebook.com/silverstackhq" class="facebook"><i class="icomoon-facebook"></i></a>
                <a href="http://twitter.com/silverstackhq" class="twitter"><i class="icomoon-twitter"></i></a>
                <a href="" class="google-plus"><i class="icomoon-google-plus"></i></a>
                <a href="" class="instagram"><i class="icomoon-instagram"></i></a>
                <a href="" class="github"><i class="icomoon-github-3"></i></a>
                <a href="" class="linkedin"><i class="icomoon-linkedin"></i></a>
                <a href="" class="mail"><i class="icomoon-mail-2"></i></a>
                <a href="" class="rss"><i class="icomoon-feed-2"></i></a>
            </div>
        </div>
        <!-- end-contact-info /end -->
        <div class="one-third column">
            <h4 class="subtitle">latest tweet</h4>
            <br />
            <div class="lts-tweets"> <i class="icomoon-twitter"></i>
                <h3><a href="https://twitter.com/silverstackhq">@silverstackhq</a></h3>
                <h5 id="twitter"></h5>
            </div>
        </div>
        <!-- tweets  /end -->
        <div class="one-third column">
            <h4 class="subtitle">flickr photostream</h4>
            <br />
            <div class="flickr-feed">
                <script type="text/javascript" src="http://www.flickr.com/badge_code.gne?count=12&amp;display=random&amp;size=square&amp;nsid=36587311@N08&amp;raw=1"></script>
                <div class="clear"></div>
            </div>
        </div>
        <!-- flickr /end -->
    </section>
    <!-- end-footer-in -->
    <section class="footbot">
        <div class="container">
            <div class="footer-navi">© 2013. All Rights Reserved. Powered by <a rel="nofollow" href="http://wintersmith.io">Wintersmith</a> </div>
            <!-- footer-navigation /end -->
            <span class="logo">Silver<span>stack</span></span>
        </div>
    </section>
    <!-- end-footbot -->
</footer>
<!-- end-footer -->
<span id="scroll-top"><a class="scrollup"><i class="icomoon-arrow-up"></i></a></span>